/* -------------------for tablet ------------ */

@media (max-width:799px){
    .section-p1{
        padding: 40px 40px;
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -200px;
        height: 100vh;
        width: 200px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.5s;
    }

    .nav-bar #lg-bag{
        display: none;
    }

    .nav-bar.active{
        right: 0;
    }

    .nav-bar li{
        margin-bottom: 25px;
    }

    .ham-menu{
        display: flex;

    }

    .ham-menu i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 12px;
    }

    #close{
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    .hero{
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    .feature{
        justify-content: center;
    }

    .feature .fet-box{
        margin: 15px 15px ;
    }
    
    .pdt-container{
        justify-content: center;
    }

    .product .pdt{
        margin: 15px;
    }

    .banner{
        height: 20vh;
    }

    .sm-banner .banner-box{
        min-width: 100%;
        height: 30vh;
        padding: 30px;
        margin-bottom: 15px;
    }

    .lit-banner{
        padding: 0 40px;
    }

    .lit-banner .banner-box{
        width: 28%;
    }

    .sign-up .form{
        width: 70%;
    }

    /* -----about-us------------- */

    .about-header{
        display: flex;
        flex-direction: column;
    }

    .about-header img{
        width: 90%;
        margin-bottom: 20px;
    }

    /*---------contact------------------*/

    .form-details{
        padding: 40px;
    }

    .form-details form{
        width: 50%;
    }
}

@media (max-width:477px){
    
    .section-p1{
        padding: 20px;
    }
    
    .header{
        padding: 10px 30px;
    }

    h1{
        font-size: 48px;
    }

    h2{
        font-size: 32px;
    }

    .hero{
        padding: 0 20px;
        background-position: 60%;
    }

    .feature{
        justify-content: space-between;
    }

    .feature .fet-box{
        width: 155px;
        margin: 0 0 15px 0;
    }

    .pdt-container{
        padding: 5px;
    }

    .product .pdt{
        width: 100%;
    }

    .banner{
        height: 40vh;
    }

    .sm-banner .banner-box{
        height: 40vh;
    }

    .lit-banner{
        padding: 0 20px;
    }

    .lit-banner .banner-box{
        width: 100%;
        margin-bottom: 15px;
    }

    .sign-up .form{
        width: 100%;
    }

    .copyright{
        text-align: start;
    }

    /* ---------product---------- */

    .pdt-details{
        flex-direction: column;
    }

    .pdt-details .single-pdt-img{
        width: 100%;
        margin-right: 0px;
    }

    .pdt-details .single-pdt-details{
        width: 100%;
        padding-top: 30px;
    }

    /* ----------blog-page---------- */

    .blog{
        padding: 100px 20px 0 20px;
    }
    
    .blog .blog-box{
        flex-direction: column;
        align-items: flex-start;
    }

    .blog .blog-img{
        width: 100%;
        margin-bottom: 30px;
    }

    .blog .blog-details{
        width: 100%;
    }

    .about-header img{
        width: 100%;
    }

    .about-header div{
        padding-left: 0px;
    }

    .about-app .video{
        width: 100%;
    }

    /* -------------contact------------- */

    .contact-details{
        flex-direction: column;
    }

    .contact-details .details{
        width: 100%;
        margin-bottom: 30px;
    }

    .contact-details .map{
        width: 100%;
    }

    .form-details{
        flex-direction: column;
        margin: 30px 10px ;
        padding: 20px;
    }

    .form-details form{
        width: 100%;
        margin-bottom: 30px;
    }

    /* -------------cart---------------- */

    .add-cart{
        flex-direction: column;
    }

    .add-cart .coupan{
        width: 100%;
    }

    .add-cart .sub-total{
        width: 100%;
    }


    
}